/*!
 * CSS for website
 *
 * @author: [name] [(email/web site)]
 */

// SASS Imports
@import "compass";
@import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";
@import "partials/layout";
@import "partials/forms";
@import "partials/buttons";
@import "partials/type";
@import "partials/helpers";
@import "partials/header";
@import "partials/footer";


/** Preferred Styling
 -------------------------------
el/class { attributes in alphabetical order }
 -----------------------------*/


/** Global Styles
 -----------------------------*/
// Always show vertical scroll bar in window
html { overflow-y: scroll; } 

// Global body styles
body {
	// Font
	font-family: Sans-Serif; 
	font-size: $base-font-size; 
	line-height: $base-line-height;
	text-align: left;

	// Color
	background: $body-background; 
	color: $body-color;
}

// Selection
::-moz-selection{ background: #b3d4fc; color: #fff; }
::selection{ background: #b3d4fc; color: #fff; }

// Helper Classes
.pie { behavior: url(/css/PIE.htc); }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }


/** Page wrapper
 -----------------------------*/
#page-wrapper { }


/** Content wrapper
 -----------------------------*/
#content-wrapper { position: relative; }


/** Mobile Devices
 -----------------------------*/
@media only screen and (max-width: 959px) {
    /* Prevent iOS, WinMobile from adjusting font size */
    html { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
}