/*!
 * CSS for website
 *
 * @author: [name] [(email/web site)]
 */

// SASS Imports
@import "compass";
@import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";
@import "partials/layout";
@import "partials/forms";
@import "partials/buttons";
@import "partials/type";


/** Preferred Styling
 -------------------------------
el/class { attributes in alphabetical order }
 -----------------------------*/


/** Global Styles
 -----------------------------*/
// Font
body { font-family: Sans-Serif; font-size: $base-font-size; text-align: left; line-height: $base-line-height; }

// Color
body { background: $body-background; color: $body-color; }

// Selection
::-moz-selection{ background: #b3d4fc; color: #fff; }
::selection{ background: #b3d4fc; color: #fff; }

// Helper Classes
.pie { behavior: url(/css/PIE.htc); }


/** Links
 -----------------------------*/
a {
	color: $link-color;
	&:hover { color: $link-color-hover; }
}


/** Page wrapper
 -----------------------------*/
#page-wrapper { }


/** Header
 -----------------------------*/
header { }


/** Nav 
 -----------------------------*/
nav { }


/** Content wrapper
 -----------------------------*/
#content-wrapper { position: relative; }


/** Footer
 -----------------------------*/
footer { }


/** Mobile Devices
 -----------------------------*/
@media only screen and (max-width: 959px) {
    /* Prevent iOS, WinMobile from adjusting font size */
    html { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
    
    .c { float: none; display: block; }
}