<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <connectionStrings>
        <!--
        <remove name="LocalSqlServer"/>
        <add name="LocalSqlServer" connectionString="Data Source=ServerIP;Initial Catalog=DatabaseName;Persist Security Info=True;User ID=;Password=" providerName="System.Data.SqlClient"/>
        <add name="ConnectionString" connectionString="Data Source=ServerIP;Initial Catalog=DatabaseName;Persist Security Info=True;User ID=;Password=" providerName="System.Data.SqlClient"/>
        -->
    </connectionStrings>

    <system.web>
        <!--
            Authenticationa and membership/role provider.
            Replace ASP with application name.

        <authentication mode="Forms">
            <forms cookieless="UseCookies" loginUrl="/login/" path="/" name=".ASP_AUTH" slidingExpiration="true" timeout="10080" requireSSL="false" protection="All"/>
        </authentication>
        <membership defaultProvider="aspMembershipProvider">
            <providers>
                <add name="aspMembershipProvider" applicationName="aspMembership" connectionStringName="ConnectionString"
                    minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="true"
                    requiresUniqueEmail="true" enablePasswordReset="true" enablePasswordRetrieval="true" passwordFormat="Encrypted"
                    type="System.Web.Security.SqlMembershipProvider"/>
            </providers>
        </membership>
        <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookiePath="/" cookieTimeout="10080" cookieRequireSSL="false"
            cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All" defaultProvider="aspRoleManager">
            <providers>
                <add name="aspRoleManager" applicationName="aspMembership" connectionStringName="ConnectionString" type="System.Web.Security.SqlRoleProvider"/>
            </providers>
        </roleManager>

        <machineKey
            validationKey="E987FFCD1A14388500F0AD13A68E154D9B092550B7196FBFB10BF3CD93CF22803C890ED55A3291DCB667B1B1B98375E5DC689E24A9B8DE4661A862DEDB668D68"
            decryptionKey="DFF88DFA13F61C4409BF165E487372DCA373B44EF5C52FD266A7ADCFF2A2A48D"
            validation="SHA1" decryption="AES" />
        -->

        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="false" strict="false" explicit="true" targetFramework="4.0" />
        
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

			<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
				<error statusCode="403" redirect="NoAccess.htm" />
				<error statusCode="404" redirect="FileNotFound.htm" />
			</customErrors>
        -->
        <customErrors mode="RemoteOnly" defaultRedirect="/error/">
            <error statusCode="404" redirect="/404/"/>
        </customErrors>

        <!--
            Allow large file uploads
            
        <httpRuntime maxRequestLength="1048576" executionTimeout="40000" />
        -->
    </system.web>

    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="2147483644"/>
                <authenticationService enabled="true" requireSSL="false"/>
                <roleService enabled="true"/>
            </webServices>
        </scripting>
    </system.web.extensions>

    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <!-- Add a Vary: Accept-Encoding header -->
                <remove name="Vary"></remove>
                <add name="Vary" value="Accept-Encoding"></add>

                <!-- 
					Force the latest IE version, in various cases when it may fall back to IE7 mode
					github.com/rails/rails/commit/123eb25#commitcomment-118920
					Use ChromeFrame if it's installed for a better experience for the poor IE folk 
				-->
                <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />

                <!-- A little extra security (by obscurity) -->
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        
        <!-- 
            GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes
        -->
        <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
            <dynamicTypes>
                <add mimeType="text/*" enabled="true"/>
                <add mimeType="message/*" enabled="true"/>
                <add mimeType="application/javascript" enabled="true"/>
                <add mimeType="*/*" enabled="false"/>
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true"/>
                <add mimeType="message/*" enabled="true"/>
                <add mimeType="application/javascript" enabled="true"/>
                <add mimeType="application/json" enabled="true"/>
                <add mimeType="*/*" enabled="false"/>
            </staticTypes>
        </httpCompression>
        <directoryBrowse enabled="false"/>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true"/>
        <staticContent>
            <!-- Set expire headers to 30 days for static content-->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
            <!-- use utf-8 encoding for anything served text/plain or text/html -->
            <remove fileExtension=".css"/>
            <mimeMap fileExtension=".css" mimeType="text/css"/>
            <remove fileExtension=".js"/>
            <mimeMap fileExtension=".js" mimeType="text/javascript"/>
            <remove fileExtension=".json"/>
            <mimeMap fileExtension=".json" mimeType="application/json"/>
            <remove fileExtension=".rss"/>
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8"/>
            <remove fileExtension=".html"/>
            <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8"/>
            <remove fileExtension=".xml"/>
            <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8"/>
            <!-- HTML5 Audio/Video mime types-->
            <remove fileExtension=".mp3"/>
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg"/>
            <remove fileExtension=".mp4"/>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
            <remove fileExtension=".ogg"/>
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg"/>
            <remove fileExtension=".ogv"/>
            <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
            <remove fileExtension=".webm"/>
            <mimeMap fileExtension=".webm" mimeType="video/webm"/>
            <!-- Proper svg serving. Required for svg webfonts on iPad -->
            <remove fileExtension=".svg"/>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
            <remove fileExtension=".svgz"/>
            <mimeMap fileExtension=".svgz" mimeType="image/svg+xml"/>
            <!-- HTML4 Web font mime types -->
            <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
            <remove fileExtension=".eot"/>
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
            <remove fileExtension=".ttf"/>
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf"/>
            <remove fileExtension=".ttc"/>
            <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf"/>
            <remove fileExtension=".otf"/>
            <mimeMap fileExtension=".otf" mimeType="font/otf"/>
            <remove fileExtension=".woff"/>
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
            <remove fileExtension=".crx"/>
            <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension"/>
            <remove fileExtension=".xpi"/>
            <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall"/>
            <remove fileExtension=".safariextz"/>
            <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream"/>
            <!-- Flash Video mime types-->
            <remove fileExtension=".flv"/>
            <mimeMap fileExtension=".flv" mimeType="video/x-flv"/>
            <remove fileExtension=".f4v"/>
            <mimeMap fileExtension=".f4v" mimeType="video/mp4"/>
            <!-- Asorted types -->
            <remove fileExtension=".ico"/>
            <mimeMap fileExtension=".ico" mimeType="image/x-icon"/>
            <remove fileExtension=".webp"/>
            <mimeMap fileExtension=".webp" mimeType="image/webp"/>
            <remove fileExtension=".appcache"/>
            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest"/>
            <remove fileExtension=".manifest"/>
            <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest"/>
            <remove fileExtension=".htc"/>
            <mimeMap fileExtension=".htc" mimeType="text/x-component"/>
            <remove fileExtension=".crx"/>
            <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension"/>
            <remove fileExtension=".xpi"/>
            <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall"/>
            <remove fileExtension=".safariextz"/>
            <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream"/>
            <remove fileExtension=".vcf"/>
            <mimeMap fileExtension=".vcf" mimeType="text/x-vcard"/>
        </staticContent>
        
        <defaultDocument>
            <files>
                <clear/>
                <add value="default.aspx"/>
                <add value="index.html"/>
            </files>
        </defaultDocument>

        <rewrite>
            <rules>
                <!-- 
                  Remove the WWW from the URL.  
                  Requires IIS Rewrite module http://learn.iis.net/page.aspx/460/using-the-url-rewrite-module/ 
                  Configuration lifted from http://nayyeri.net/remove-www-prefix-from-urls-with-url-rewrite-module-for-iis-7-0
                  
                  ** Important Note 
                  using a non-www version of a webpage will set cookies for the whole domain making cookieless domains 
                  (eg. fast cdn-like access of static resources like css, js and images) impossible.
                  
                    <rule name="Remove WWW" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                      <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
                    </conditions>
                    <action type="Redirect" url="http://nayyeri.net{PATH_INFO}" redirectType="Permanent" />
                    </rule>
                 -->

                <!--
		          Built-in filename-based cache busting
                  
		          To understand why this is important and a better idea than all.css?v1231,
		          read: github.com/h5bp/html5-boilerplate/wiki/Version-Control-with-Cachebusting
                -->
                
                <!--
                    The BasicCachebusting rule will rewrite urls like: /path/file.v12345.ext to /path/file.ext
                -->
                <rule name="BasicCachebusting">
                    <match url="^(.+)\.[v]\d+(\.(js|css|png|jpg|gif)$)" />
                    <action type="Rewrite" url="{R:1}{R:2}" />
                </rule>

                <!--
                    The Cachebusting rule will rewrite urls like: /path/file.v-1.0.ext to /path/file.ext
                -->
                <rule name="Cachebusting">
                    <match url="^(.+)\.[v][-]\d\.\d+(\.(js|css|png|jpg|gif)$)" />
                    <action type="Rewrite" url="{R:1}{R:2}" />
                </rule>

                <!--
                    The Cachebusting rule will rewrite urls like: /path/file.v-1.0.min.ext to /path/file.min.ext
                -->
                <rule name="CachebustingMin">
                    <match url="^(.+)\.[v][-]\d\.\d+(\.min)+(\.(js|css|png|jpg|gif)$)" />
                    <action type="Rewrite" url="{R:1}{R:2}{R:3}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

</configuration>
