/**
 * Project Form Styles
 */

/** Forms
 -----------------------------*/
.form {
	// Make all forms have space below them
	margin: 0 0 $base-line-height;

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	legend {	
		border: 0;
		border-bottom: 1px solid #e5e5e5;
		color: $dark-gray;
		display: block;
		font-size: $base-font-size * 1.5;
		margin-bottom: $base-line-height * 1.5;
		padding: 0;
		width: 100%;
	}

	// Separating rows
	.r {
		margin: 0 0 $row-margin;
		padding: 0;
	}

	// Inline forms -- by default
	label {
		display: inline-block;
		margin-right: $label-margin-right;
		width: $label-width;
		
		// labels for checkboxes and radio buttons
		&.cb {
			cursor: pointer;
			display: inline-block !important;
			margin-left: 4px !important;
			vertical-align: middle;
			width: auto;
		}

		// info blocks in labels
		span {
			color: lighten($body-color, 10%);
			font-size: .9em;
			font-style: italic;
		}
	}	

	// Block Forms -- label on top of input
	&.block {
		label {
			display: block;
			margin: 0 0 5px;
		}
	}

	// Form elements reset
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	.uneditable-input {
		color: $body-color;
		display: inline-block;
		height: $input-height;
		line-height: $base-line-height;
		padding: 4px;

		// Disabled State
		&:disabled,
		&:readonly {
			background-color: $input-disabled-bg;
			border-color: $input-disabled-border;
			cursor: not-allowed;
		}

		// Form feedback states
		// invalid
		&.invalid {
			border-color: $error-border;
		}
	}

	// input and textarea widths
	input,
	textarea {
		width: $input-width;
	}
	
	// Full Width Forms
	&.full-width {
		label {
			display: block;
			margin: 0 0 2px;
			width: auto;
		}

		textarea,
		input[type="text"],
		input[type="password"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"] {
			width: 99%;
		}
	}

	// prefixes
	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"] {
		&.prefix {
			@include border-top-left-radius(0);
			@include border-bottom-left-radius(0);
		}
	}
	span.prefix {
		background: #f1f1f1;
		border: 1px solid $input-border;
		border-right: 0;
		@include border-top-left-radius($input-border-radius);
		@include border-bottom-left-radius($input-border-radius);
		display: inline-block;
		padding: 3px 5px 5px;
		text-shadow: 0 1px 0 #fff;
	}

	// General quick sizing of inputs
	.input-mini       { width: 60px; }
	.input-small      { width: 90px; }
	.input-medium     { width: 150px; }
	.input-large      { width: 210px; }
	.input-xlarge     { width: 270px; }
	.input-xxlarge    { width: 530px; }
	
	// reset height of textarea because they have rows
	textarea {
		width: auto;
		resize: none;
	}

	// Form element styles
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	.uneditable-input {
		background-color: $input-bg;
		border: 1px solid $input-border;
		@include border-radius($input-border-radius);
		@include box-shadow($input-box-shadow);
		@include transition($input-transition);

		// Focus State
		&:focus {
			border-color: $input-border-focus;
			@include box-shadow($input-box-shadow-focus);
			outline: 0;
			outline: thin dotted \9; /* IE6-9 */
		}
	}

	// Position Radio and Checkboxes Better
	input[type="radio"],
	input[type="checkbox"] {
		cursor: pointer;
		line-height: normal;
		margin: 3px 0;
		vertical-align: middle;
	}
	
	// Reset width of input buttons, radios, checkboxes
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	input[type="radio"],
	input[type="checkbox"] {
		width: auto; // Override of generic input selector
	}

	// Make uneditable textareas behave like a textarea
	.uneditable-textarea {
		height: auto;
		width: auto;
	}

	// Set the height of select and file controls to match text inputs
	select,
	input[type="file"] {
		line-height: 28px;
	}

	// Make select elements obey height by applying a border
	select {
		border: 1px solid $input-border;
		width: $input-width + 10; /* default input width + 10px of padding that doesn't get applied */
	}

	// Search input
	input[type="search"],
	input.search {
		@include border-radius(14px);
		margin-bottom: 0;
		padding-right: 14px;
		padding-right: 4px \9;
		padding-left: 14px;
		padding-left: 4px \9;
	}
}


/** Status
 -----------------------------*/
.status {
	p {
		border: 1px solid transparent;
		font-size: .9em;
		padding: 5px;

		&.error {
			background: $error-bg;
			border-color: $error-border;
			color: $error-text;
		}

		&.info {
			background: $info-bg;
			border-color: $info-border;
			color: $info-text;
		}

		&.success {
			background: $success-bg;
			border-color: success-border;
			color: $success-text;
		}

		&.warning {
			background: $warning-bg;
			border-color: $warning-border;
			color: $warning-text;
		}
	}
}